
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hi su, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% for (var user of users) { %>
    <h3 > <%= user.quote %></h3>
    <h4 > <%= user.name %> at <%= user.created_at %></h4>
    <hr>
<% } %>
   
</body>
</html>