<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Quating Dojo</h1>
    <form action="/quotes" method="POST">
        <label for="name">Your name: <input type="text" name="name" id=""></label>
        <br>
        <label for="quote:">Your quote:
            <textarea name="quote" id="" cols="30" rows="10"></textarea>
        </label>
        <br>
        <a href="/quotes.ejs"><input type="submit" value="Add my quote!"></a>
        <a href="/"><input type="submit" value="skip the quotes!"></a>

    </form>
    
</body>
</html>