<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/style.css">


    <title>Document</title>
</head>
<body>
    <div class='bg-light-purple fw7 f2 my-center pv4 mr6 ml6'>
        EJS cats
    </div>
    <div>
    <a href="firstKitty"><img  class='db center' src="images/img1.jpg" alt=""></a>
    <a href="secKitty"><img  class='db center' src="images/img2.jpg" alt=""></a>
    <a href="thirdKitty"><img  class='db center' src="images/img3.jpg" alt=""></a>

    </div>
</body>
</html>