<h1>Date Page for firstKitty</h1>
<img  class= 'db my_center'src="images/img1.jpg" alt="">
<h2>Favorite food:<%= favorite_food %></h2>
<h2>Age:<%=age %></h2>
<h2>Sleeping spots:</h2>
<% sleeping_spots.forEach(function(spot){%>
<h4><%=spot %></h4>
<% });%>
