<h1>Data Page for Third Kitty</h1>
<img  class= ''src="images/img3.jpg" alt="">
<h2>Favorite food:<%= favorite_food %></h2>
<h2>Age:<%=age %></h2>
<h2>Sleeping spots:</h2>
<% sleeping_spots.forEach(function(spot){%>
<h4><%=spot %></h4>
<% });%>